@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  font-family: cursive;
  background: #0be630;

}

h1 {
  padding-top: 20px;
  color: rgb(0, 238, 255);
}


/*Gaurav Bhise*/